extends layout

block content
  h1= title
  - let image_names = ['tree1.jpg','tree2.jpg','tree3.jpg','tree4.jpg','tree5.jpg']
  - for(let i=0;i<3;i++){
      - let rno = Math.floor(Math.random()*5)
      - let iname = image_names[rno]

      img(src=`images/${iname}` alt='tree' style='width:300px; height:300px;')
      |    
  - }